<!doctype html>
<html lang="en">
                  <head>
	<meta>charset /channel/{channel_id} : 특정 채널을 보는 페이지./channel/{channel_id} : 특정 채널을 보는 페이지.="UTF-8">
	<title>Document</title>
</head>
<body>
<form action="/channel" method="post">
	<input type="text" name="channel_name" />
	<input type="submit" value="등록" />
</form>
</body>
</html>